name=Mauck_MOM
version=0.1.0
author=Bob Mauck <mauckr@kenyon.edu>
maintainer=Bob Mauck <mauckr@kenyon.edu>
sentence=Python app to handle data analysis for Mass-o-Matic 
paragraph=
category=Desktop App
url=https://github.com/ninthgiant/Mauck_MOM
architectures=*
includes=*
